annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.13"
async-timeout==4.0.3 ; python_version >= "3.10" and python_full_version < "3.11.3"
bcrypt==4.2.0 ; python_version >= "3.10" and python_version < "3.13"
blinker==1.6.3 ; python_version >= "3.10" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.13" and (platform_system == "Windows" or sys_platform == "win32")
flask==3.0.3 ; python_version >= "3.10" and python_version < "3.13"
greenlet==3.1.1 ; python_version < "3.13" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.10"
gunicorn==23.0.0 ; python_version >= "3.10" and python_version < "3.13"
itsdangerous==2.2.0 ; python_version >= "3.10" and python_version < "3.13"
jinja2==3.1.4 ; python_version >= "3.10" and python_version < "3.13"
loguru==0.7.2 ; python_version >= "3.10" and python_version < "3.13"
markupsafe==3.0.2 ; python_version >= "3.10" and python_version < "3.13"
packaging==24.1 ; python_version >= "3.10" and python_version < "3.13"
psycopg-binary==3.2.3 ; python_version >= "3.10" and python_version < "3.13"
pydantic-core==2.23.4 ; python_version >= "3.10" and python_version < "3.13"
pydantic==2.9.2 ; python_version >= "3.10" and python_version < "3.13"
pytz==2024.2 ; python_version >= "3.10" and python_version < "3.13"
redis==5.1.1 ; python_version >= "3.10" and python_version < "3.13"
sqlalchemy==2.0.36 ; python_version >= "3.10" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.10" and python_version < "3.13"
werkzeug==3.0.4 ; python_version >= "3.10" and python_version < "3.13"
win32-setctime==1.1.0 ; python_version >= "3.10" and python_version < "3.13" and sys_platform == "win32"
